:host ::ng-deep .p-element{
    // display: flex;
    justify-content: center;
    background-color:#fff;
    text-align:center;
    border:0px solid white;
    display:flex;
    justify-content:'center'
}
.navBar{
    display: flex;
    margin: 1% 20%;
}
.navElements{
    display: flex;
    justify-content: center;
    flex:1;
    color: #454545;
    font-size: var(--fs-7);
    font-weight:600;
    text-transform: uppercase;
}

:host ::ng-deep .p-element {
color:#454545 ;
font-weight:normal;
// display: none;
}

:host ::ng-deep .p-element:hover { 
    background-color: #fff;
    color: #454545;
    // display: block;

}