<div *ngIf="showCatgeory">
    <div class="CategoryHeader">
        <div class="categoryContent">
            <p>Men's</p>
        </div>
        <div class="categoryContent">
            <p>Women's</p>
        </div>
        <div class="categoryContent">
            <p>Perfume</p>
        </div>
    </div>
    <div class="categoryData">
        <div class="categoryDataField">
            <p class="categoryTypes">Formal</p>
            <p class="categoryTypes">Casual</p>
            <p class="categoryTypes">Sports</p>
            <p class="categoryTypes">Jackets</p>
            <img class="menFashionImg"src="../../../assets/images/menFashionCategory.jpeg">
        </div>
        <div class="categoryDataField">
            <p class="categoryTypes">Formal</p>
            <p class="categoryTypes">Casual</p>
            <p class="categoryTypes">Traditional</p>
            <p class="categoryTypes">Sports</p>
            <img class="menFashionImg"src="../../../assets/images/womenFashionCategory.jpeg">
            <!-- womenFashionCategory -->
        </div>
        <div class="categoryDataField">
            <p class="categoryTypes">Perfume</p>
            <p class="categoryTypes">Deodrant</p>
            <p class="categoryTypes">Flower Fragnenece</p>
            <p class="categoryTypes">Perfume Oil</p>
            <img class="menFashionImg"src="../../../assets/images/perfumeCategory.jpeg">
            <!-- perfumeCategory -->
        </div>
       
    </div>
</div>
<!-- <p>{{type}}</p> -->
<div *ngIf="showMenCatgeory">
    <div class="categoryDataField">
        <p class="categoryTypes">Trousers</p>
        <p class="categoryTypes">Pants</p>
        <p class="categoryTypes">Shirts</p>
        <p class="categoryTypes">T-shirts</p>
        <p class="categoryTypes">Hoodie</p>
    </div>
</div>
<div *ngIf="showWomenCatgeory">
    <div class="categoryDataField">
        <p class="categoryTypes">Trousers</p>
        <p class="categoryTypes">Formal Wear</p>
        <p class="categoryTypes">Party Wear</p>
        <p class="categoryTypes">Kurti</p>
        <p class="categoryTypes">Saree</p>
    </div>
</div>