.header {
  padding: 10px 0;
  background: #fff;
  margin-left: -30px;
  padding-left: 30px;
}

.main-wrapper .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.mr-20 {
  margin-right: 20px;
}


.btn-sm {
  padding: 10px 20px;
  font-weight: 400;
}

/* buttons hover effect */
.btn-hover {
  position: relative;
  overflow: hidden;
}


.header .header-right {
  display: flex;
  justify-content: flex-end;
}

.header .header-right .notification-box,
.header .header-right .header-message-box {
  position: relative;
}

.ml-15 {
  margin-left: 15px;
}

.header .header-right button {
  width: 36px;
  height: 36px;
}

.header .header-right button {
  border: 1px solid #efefef;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 10px;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header .header-right .notification-box .dropdown-menu.dropdown-menu-end {
  transform: translate3d(0px, 60px, 0px);
}

.header .header-right .dropdown-menu {
  width: 350px;
  border: 1px solid #efefef;
  padding: 10px 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: 24px !important;
  right: 0;
  position: absolute;
  transform: translate3d(0px, 60px, 0px);
  border-radius: 10px;
}

.header .header-right .dropdown-menu li a {
  padding: 8px 12px;
  display: flex;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0px;
}

/* ========== header css ========== */
.header {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 1%;
  border-bottom: 1px solid lightgrey;
}

.MediaIcons {
  flex: 33.33%;
  justify-content: center;
  align-items: center;
}
.LogoImg{
  flex:15%;
}
.SearchBar{
  display: flex;
  // justify-content: center;
  align-items: center;
  flex:70%;
 
}
.Userinteraction{
  display: flex;
  justify-content: center;
  align-items: center;

  flex:15%
}
.UserMediaIcons{

}

.social-link {
  // background-color: #787878;
  border-radius: 5px;
  padding: 5px;
  background: hsl(0, 0%, 95%);
  color: #787878;
  // font-size:24px;
  margin: 1%;
}
.UserSubMediaIcons{
  margin: 1%;
}



.SpecialDeals {
  flex: 33.33%;
  color: #787878;
  font-size: small;
}

.Userlink{
  margin-right: 10%;
  color: black;
}

.LanguageSetup {
  flex: 33.33%
}

.header .header-left .header-search form {
  max-width: 270px;
  position: relative;
}

.header .header-left .header-search form input {
  width: 100%;
  border: 1px solid #efefef;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 10px;
  height: 46px;
  padding-left: 44px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header .header-left .header-search form input:focus {
  border-color: #4a6cf7;
  background: #fff;
}

.header .header-left .header-search form button {
  position: absolute;
  border: none;
  background: transparent;
  left: 16px;
  top: 0;
  height: 46px;
  color: #5d657b;
  font-weight: 700;
}

.header .header-right {
  display: flex;
  justify-content: flex-end;
}

.header .header-right button {
  border: 1px solid #efefef;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 10px;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header .header-right button::after {
  display: none;
}

.header .header-right button span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #4a6cf7;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: -6px;
  font-size: 12px;
  font-weight: 500;
}

.header .header-right .dropdown-menu {
  width: 350px;
  border: 1px solid #efefef;
  padding: 10px 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: 24px !important;
  right: 0;
  position: absolute;
  transform: translate3d(0px, 60px, 0px);
  border-radius: 10px;
}

.header .header-right .dropdown-menu li {
  padding: 3px 0px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-bottom: 1px solid #efefef;
  position: relative;
  z-index: 2;
}

.header .header-right .dropdown-menu li:hover a {
  color: #4a6cf7;
  background: rgba(74, 108, 247, 0.05);
}

.header .header-right .dropdown-menu li:last-child {
  border-bottom: none;
}

.header .header-right .dropdown-menu li a {
  padding: 8px 12px;
  display: flex;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0px;
}

.header .header-right .dropdown-menu li a .image {
  max-width: 35px;
  width: 100%;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}

.header .header-right .dropdown-menu li a .image img {
  width: 100%;
}

.header .header-right .dropdown-menu li a .content {
  width: 100%;
}

.header .header-right .dropdown-menu li a .content h6 {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1;
}

.header .header-right .dropdown-menu li a .content p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0px;
  line-height: 1.4;
}

.header .header-right .dropdown-menu li a .content span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.header .header-right .dropdown-box {
  position: relative;
}

.header .header-right .notification-box,
.header .header-right .header-message-box {
  position: relative;
}

.header .header-right .notification-box .dropdown-menu.dropdown-menu-end {
  transform: translate3d(0px, 60px, 0px);
}

.header .header-right .header-message-box .dropdown-menu.dropdown-menu-end {
  transform: translate3d(0px, 60px, 0px);
}

.header .header-right .profile-box {
  display: flex;
  position: relative;
}

.header .header-right .profile-box button {
  width: auto;
}

.header .header-right .profile-box .dropdown-menu {
  width: 230px;
}

.header .header-right .profile-box .dropdown-menu.dropdown-menu-end {
  transform: translate3d(0px, 60px, 0px);
}

.header .header-right .profile-box .dropdown-menu li {
  border-bottom: none;
}

.header .header-right .profile-box .dropdown-menu li a {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.header .header-right .profile-box .dropdown-menu li a i {
  margin-right: 15px;
  font-weight: 700;
}

.header .header-right .profile-box .profile-info {
  margin: 0 5px;
}

.header .header-right .profile-box .profile-info .info {
  display: flex;
  align-items: center;
}

.header .header-right .profile-box .profile-info .info .image {
  border: 2px solid #f9f9f9;
  -webkit-box-shadow: 0px 21px 25px rgba(218, 223, 227, 0.8);
  -moz-box-shadow: 0px 21px 25px rgba(218, 223, 227, 0.8);
  box-shadow: 0px 21px 25px rgba(218, 223, 227, 0.8);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-left: 16px;
  position: relative;
}

// .header .header-right .profile-box .profile-info .info .image .status {
//   width: 16px;
//   height: 16px;
//   border-radius: 50%;
//   border: 2px solid #e5e5e5;
//   background: #219653;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   top: auto;
// }

.header .header-right .profile-box .profile-info .info .image img {
  width: 100%;
  border-radius: 50%;
}

//@at-root
.main-header--toggler-button {
  color: #ffffff;
  padding-left: 24px;
  font-size: 24px;
  cursor: pointer;
}

.main-header-animate {
  flex: 1 0 200px;
  transition: flex-basis 500ms ease 0s;
}

.main-header-no-animate {
  flex: 1 0 70px;
  transition: flex-basis 500ms ease 0s;
}

.header .header-right .profile-box .dropdown-menu li a {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.header .header-right .dropdown-menu li a {
  padding: 8px 12px;
  display: flex;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0px;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

.btn-popUp {
  background: #afdde7;
  color: black;
  border: 1px solid #ccc;
}

.username {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.refreshBtn {
  background-color: #f2f2f2;
  padding: 10px 15px;
  border-radius: 6px;
}

.logout-popup {
  overflow: hidden;
}

.error {
  color: red;
  font-size: 20px;
}

.p-dialog .p-dialog-header {
  background: #ffffff;
  color: #434453;
  padding: 16px;
  border-radius: 0px;
  padding: 10px 15px;
  border-radius: 0px;
  border-bottom: 0px solid #e2e2e2;
  height: 48px;
  border-radius: 30px 30px 0px 0px;
}

::ng-deep.p-dialog .p-dialog-footer {
  text-align: center !important;
}

:host ::ng-deep .p-dropdown{
  align-items: center;
}
